affine==2.4.0
IHSetBernabeu @ git+https://github.com/IHCantabria/IHSetBernabeu.git@8e0aea199f00707fd405b08f3111ca24ca372bba
IHSetDean @ git+https://github.com/IHCantabria/IHSetDean.git@df99ae6a79e94bac26779bad95e460402bd897d7
IHSetGonzalez @ git+https://github.com/IHCantabria/IHSetGonzalez.git@afba853633dbaa69ec043852665f4c78d11df8ae
IHSetJaramillo20 @ git+https://github.com/defreitasL/IHSetJaramillo20.git@dfa630c1bc5c8a0d0ad4cbf6459f5fd9f540eb19
IHSetJaramillo21a @ git+https://github.com/defreitasL/IHSetJaramillo21a.git@0298ef3f927a8c2136cac2f0f02edefe7762e651
IHSetMillerDean @ git+https://github.com/defreitasL/IHSetMillerDean.git@ba21d272981e545b83f6f7febec048a4a73b32af
IHSetShoreFor @ git+https://github.com/defreitasL/IHSetShoreFor.git@b73e08ce03d4a797e89cbab6f0fdfe586fbd0f5f
IHSetYates09 @ git+https://github.com/defreitasL/IHSetYates09.git@1dff09368a6d60f165ed8e6811e033c168675c5f
IHSetTurki @ git+https://github.com/IHCantabria/IHSetTurki.git@c3eec1e8578ec575c27bfc7803210da86b3f4f4b
IHSetLim @ git+https://github.com/IHCantabria/IHSetLim.git@3779118d9d6953ee51cc68dd07b7d5715ffd6bb8
matplotlib==3.8.3
netCDF4==1.6.5
numba==0.59.0
numpy==1.26.4
pandas==2.2.1
xarray==2024.2.0